
{% load static%}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portf </title>
    <link rel="icon" type="image/x-icon" href="./Images/favicon.jpeg">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>`
    
    <!-- Navbar Section -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">Portfolio</h2>
        </div>
        <div class="right-nav">
            <ul class="flex">
                <li><a href="#home" class="t-white roboto">Home <i class="fa-solid fa-house"></i></a></li>
                <li><a href="#about" class="t-white roboto">About Me <i class="fa-solid fa-user"></i></a></li>
                <li><a href="#skills" class="t-white roboto">Skills <i class="fa-solid fa-code"></i></a></li>
                <li><a href="#Projects" class="t-white roboto">Projects <i class="fas fa-project-diagram"></i></a></li>
                <li><a href="#Contact" class="t-white roboto">Contact <i class="fa-solid fa-rocket"></i></a></li>
            </ul>
        </div>
    </nav>

        

    <!-- Home Section -->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h6 class="poppinss">Hi, I'm</h6>
                <h1 class="t-white">Zain Razzaq</h1>
                <h4 class="poppinss">Software Engineer</h4>
                <a href="{% static 'pdf/portfolio.pdf.pdf' %}"  target="_blank">
                    <button class="btn poppins">Resume</button></a>
                    
                <a class="btn live poppins" id="hireme" href=""
                    target="_blank">Let's Talk</a>
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
               
                <img src="{% static 'images/mypic.png'%}" alt="">
            </div>

        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <h1 class="t-center my-2 t-white f-2">About Me</h1>
        <div class="about-container flex s-around ">
            <div class=" about-left flex s-center items-center">
                <!-- Here in src replade the given link with your secondary image link -->
                <img src="{%static 'images/cartton.jpg'%}" alt="" style="width: 60%;">
            </div>

            <div class="about-right flex">
                <div class="about-content">
                    <h1 class="t-white m-b-1 poppins">Zain Razzaq</h1>
                    <p class="t-white poppins">My name is Zain Razzaq.I’m  a passionate software engineering student at Islamia University of BWP. With a strong foundation in backend development, I specialize in creating robust, scalable, and efficient systems. While my primary focus is backend development, I also have experience in managing and implementing frontend solutions, ensuring a seamless and user-friendly experience. My goal is to combine both backend and frontend skills to create innovative and functional applications. I am constantly learning and exploring new technologies to enhance my skills and stay updated with industry trends
                        
                        
                        .</p>
                    <a class="btn " id="hireme"
                        href="">Hire Me</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section id="skills">
        <h1 class="t-center my-2 t-white f-2">Skills</h1>
        <div class="services-container flex s-around h-50">
        <div class=" skills-left flex s-center items-center">
            <img src="{%static 'images/pro.png'%}" alt="">
        </div>

        <div class="skills-right flex items-center">
            <div class="skillss-container">
                <div class="java bar p-relative"><span class="bar-content left t-white"> Django</span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="html bar p-relative"><span class="bar-content left t-white">HTML</span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="bootstrap bar p-relative"><span class="bar-content left t-white">BootStrap</span><span class="bar-content right-skills t-white">90%</span></div>
                <div class="python bar p-relative"><span class="bar-content left t-white">Python</span><span
                    class="bar-content right-skills t-white">90%</span></div>
                <div class="rest_framework bar p-relative"><span class="bar-content left t-white">Rest Framework</span><span class="bar-content right-skills t-white">70%</span></div> 
                <div class="js bar p-relative"><span class="bar-content left t-white">JavaScript</span><span
                        class="bar-content right-skills t-white">60%</span></div>
                <div class="ajax bar p-relative"><span class="bar-content left t-white">Ajax</span><span class="bar-content right-skills t-white">60%</span></div> 
                <div class="css bar p-relative"><span class="bar-content left t-white">CSS</span><span class="bar-content right-skills t-white">50%</span></div>
                <div class="mysql bar p-relative"><span class="bar-content left t-white">MySQL</span><span
                        class="bar-content right-skills t-white">40%</span></div>        
            </div>
        </div>
        </div>
    </section>
    <br><br>

    

    <!-- Projects Section -->
    <section id="Projects">
        <h1 class=" t-center my-2 t-white f-2">Projects</h1>
        <div class="projects-container flex s-center">
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">E-Commerce Website</h1>
                <p class="t-white poppins">"I developed an e-commerce website using Django, enabling secure and seamless product management, user authentication, and payment integration. The platform offers an intuitive shopping experience with a user-friendly interface. It's fully customizable and scalable, providing a robust solution for online businesses."

                </p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/zainchodry/Ecommerce.git"
                        target="_blanks" class="btn mx-1 m-top">GitHub</a>
                    {% comment %} <a href="" target="_blanks" class="btn m-top live">LiveLink</a> {% endcomment %}
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">Bussines Website</h1>
                <p class="t-white poppins">I built a business website using Django that highlights company services, provides information about the business, and includes contact options. It offers a clean, professional design with user-friendly navigation. The website is fully dynamic, allowing businesses to easily update and manage their content.

                </p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/zainchodry/Bussines-Website.git"
                        target="_blanks" class="btn mx-1 m-top">GitHub</a>
                    {% comment %} <a href="" target="_blanks" class="btn m-top live">LiveLink</a> {% endcomment %}
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">E-commerce Website with Ajax</h1>
                <p class="t-white poppins">I developed a business website using Django, AJAX, JavaScript, and Python, ensuring a smooth, dynamic user experience. The website features interactive elements like real-time updates and seamless form submissions. It is designed to provide a professional online presence with efficient content management and enhanced user engagement.

                </p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/zainchodry/Shopping-Store.git"
                        target="_blanks" class="btn mx-1 m-top">GitHub</a>
                    {% comment %} <a href="" target="_blanks" class="btn m-top live">LiveLink</a> {% endcomment %}
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">Employee Management System</h1>
                <p class="t-white poppins">I created an Employee Management System using Django to streamline HR operations and improve efficiency. The system allows for easy employee data management, role assignments, and performance tracking. It offers a user-friendly interface for both administrators and employees to manage profiles and tasks effectively.
                </p>
                <div class="buttons flex s-around">
                    <a href=""
                        target="_blanks" class="btn mx-1 m-top">GitHub</a>
                    {% comment %} <a href="" target="_blanks" class="btn m-top live">LiveLink</a> {% endcomment %}
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">Student Study Portal</h1>
                <p class="t-white poppins">I developed a student study portal using Django that provides students with a centralized platform for accessing study materials, schedules, and assignments. The portal features user authentication, easy navigation, and real-time updates on course progress. It aims to enhance the learning experience by offering a simple, organized, and interactive environment.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/zainchodry/study-portal.git" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    {% comment %} <a href="#" target="_blanks" class="btn m-top live">LiveLink</a> {% endcomment %}
                </div>
            </div>
           
         </div>

        </div>
    </section>

    <!-- Contact Me Section -->
    <section id="Contact" class="m-b-1">
        <h1 class=" t-center my-2 t-white f-2">Contact Me</h1>
        <div class="contact-container flex s-around items-centers">
            <div class="form" id="contactForm">
                <form method="post" > 
                    {% csrf_token %}
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                    </div>

                    <div class="email form-div">
                        <input type="email" name="email" id="" class="poppins" placeholder="Enter Your Email"
                            required>
                    </div>

                    <div class="phone form-div">
                        <input type="phone" name="number" id="" class="poppins" placeholder="Enter Your Phone"
                            required>
                    </div>
                    
                    <div class="textarea form-div">
                        <textarea name="content" id="textarea" cols="30" rows="10" class="poppins"
                            placeholder="Enter Messages"></textarea>
                    </div>
                    <button type="submit" class="btn poppins" id="submit">Send</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer id="footer">
        <ul class="flex s-center w-80 m-auto my-2 res">
            <li><a href="#home" class="poppinss">Home</a></li>
            <li><a href="#about" class="poppinss">About</a></li>
            <li><a href="#skills" class="poppinss">Skills</a></li>
            <li><a href="#projects" class="poppinss">Projects</a></li>
            <li><a href="#portfolio" class="poppinss">Portfolio</a></li>
        </ul>
        <ul class="flex s-center w-80 font-awesome ">
            <a href="https://www.linkedin.com/in/Zain Razzaq/" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="https://github.com/zainchodry" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            </a>
                <a href="https://www.instagram.com/zainrazzaq30/" target="_blank">
                    <li><i class="fa-brands fa-instagram"></i></li>
            </a>
            
        </ul>
        <p class="t-center my-2 poppins">&copy; All Rights Reserved - <span class="cpy-white poppins">Error By Night 
                </span></p>

    </footer>
     
</body> 
</html>






